/* id="filterInput" */
/* id="filterSelect" */


select.filterSelect{
    border: 1px solid black;
    width: 200px;
}

input.filterInput{
    border: 1px solid black;
}

button.filterCancelButton {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: #ffffff;
    background: #607d8b;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 30px;
    box-shadow: 0px 2px 5px #a0a0a0;
    text-align: center;
    line-height: 2px;
    cursor: pointer;


  }

  button.filterapplyButton {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: #ffffff;
    background: #2b3546;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 30px;
    /* margin-bottom: 5px; */
    box-shadow: 0px 2px 5px #a0a0a0;
    text-align: center;
    line-height: 2px;
    cursor: pointer;

  }