button.beforeIssue {
    width: 185px;
    height: 60px;
    border-radius: 4px;
    color: #424242;
    background: #ffffff;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    margin-right: 5px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
  }
  button.beforeIssue:hover {
    background: #6b6b6b;
    color: #ffffff;
    cursor: pointer;
  }
  
  button.afterIssue {
    width: 185px;
    height: 60px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #424242;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    margin-right: 5px;
    box-shadow: 0px 2px 5px #a0a0a0;
    /* font-weight:  */
    cursor: pointer;
  }

  button.beforeHistory {
    width: 185px;
    height: 60px;
    border-radius: 4px;
    color: #424242;
    background: #ffffff;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
  }
  button.beforeHistory:hover {
    background: #6b6b6b;
    color: #ffffff;
    cursor: pointer;
  }
  
  button.afterHistory {
    width: 185px;
    height: 60px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #424242;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
    /* font-weight:  */
    cursor: pointer;
  }

  /* button.afterHistory:hover {
    background: #ffffff;
    color: #424242;
    cursor: pointer;
  } */

button.pdfIcon {
  width: 30px;
  height: 30px;
  /* background: lightcoral; */
  /* background-image: url("images/pdfIcon.png"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

button.pdfIcon > p {
  color: transparent;
}

  
button.excelIcon {
  /* background: pink; */
  /* background-image: url("./images/Login.png"); */
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

button.excelIcon > p {
  color: transparent;
}


button.printPrint {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  background: #4b5668;
  box-sizing: border-box;
  border: 0px solid transparent;
  padding: 15px 50px;
  /* margin-bottom: 5px; */
  box-shadow: 0px 2px 5px #a0a0a0;
  text-align: center;
  line-height: 11px;
  cursor: pointer;

}

button.printClose {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  background: #7b95a1;
  box-sizing: border-box;
  border: 0px solid transparent;
  padding: 15px 50px;
  /* margin-bottom: 5px; */
  box-shadow: 0px 2px 5px #a0a0a0;
  text-align: center;
  line-height: 11px;
  cursor: pointer;
  margin-right: 20px;

}