button {
    all: unset;
}
button > p {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

button.beforeAll {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeAll:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}

button.beforeOpened {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeOpened:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}

button.beforeReadyForReview {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeReadyForReview:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}

button.beforeRequestedForClose {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeRequestedForClose:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}

button.beforeNotAccepted {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeNotAccepted:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}

button.beforeClosed {
    color: #e9743e;
    background: linear-gradient(#e9743e 12%, #fff 0%);
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 15px 50px;
    /* margin-right: 10px; */
    border-radius: 10px;
    box-shadow: 0px 2px 5px #a0a0a0;
  
    /* font-weight:  */
}

button.beforeClosed:hover {
    background: linear-gradient(#e0865c 100%, #fff 0%);
    color: #ffffff;
    cursor: pointer;
}