.App {
    font-family: sans-serif;
    /* text-align: center; */
  }
  /* reset */
  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  p,
  table,
  blockquote {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  a img {
    border: none;
  }
  img {
    vertical-align: middle;
  }
  li {
    list-style: none;
  }
  address,
  em,
  i,
  cite {
    font-style: normal;
  }
  button,
  select {
    all: unset;
  }
  /* select {-webkit-appearance: none; -moz-appearance:none; appearance:none;} */
  
  /* select, input {vertical-align: middle;} */
  
  /* test */
  /* 
  header {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    min-width: 500px;
  }
  
  h1 {
    display: inline-block;
  }
  
  nav li {
    display: inline-block;
    
  } */
  
  /* nav */
  header {
    display: flex;
    justify-content: space-between;
    background-color: #2b3546;
    min-width: 1000px;
    height: 46px;
    overflow: hidden;
    color: #e4e4e4;
  }
  
  header div > * {
    display: inline-block;
    height: 100%;
    background-color: #000000;
    padding: 0px 10px;
    vertical-align: middle;
    line-height: 46px; /*header에 사용된 height와 높이 동일하게 맞춰야 함*/
  }
  
  header div > h1 {
    position: relative;
  }
  header div > h1::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.5px;
    height: 85%;
    background-color: #e4e4e4;
    opacity: 0.2;
  }
  header div > a.navUsername {
    font-size: 5px;
    padding: 10px 65px 0px 10px;
  }
  header div > a.navUsername p {
    opacity: 0.8;
  }
  header div > select {
    font-size: 20px;
    cursor: pointer;
    background-color: #2b3546;
    padding: 0px 25px;
  }
  
  header div > select:focus {
    border-color: #e4e4e4;
    /* box-shadow: 0 0 5px 1px #e4e4e4; */
    outline: none;
  }
  
  header div > select:disabled {
    opacity: 0.5;
  }
  
  header nav {
    background-color: #5c8794;
  }
  header nav > ul li.on {
    background-color: #e4e4e4;
    color: #5c8794;
  }
  header nav ul {
    display: inline-block;
  }
  header nav ul li {
    display: inline-block;
    width: 160px;
    min-width: 50px;
    text-align: center;
    line-height: 46px; /*header에 사용된 height와 높이 동일하게 맞춰야 함*/
    box-sizing: border-box;
  }
  header nav ul li + li {
    border-left: 0.5px solid rgba(228, 228, 228, 0.5);
  }
  header nav > ul li > a {
    display: block;
  }
  